@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Nop.Web.Themes.SaljiDalje.Data
@model ChangePasswordModel
<!-- Page content-->
<div class="container pt-5 pb-lg-4 mt-5 mb-sm-2">
    <!-- Breadcrumb-->
    @await Html.PartialAsync("/Themes/SaljiDalje/Views/Customer/Shared/_Breadcrumb.cshtml", "Password & Security")
    <!-- Page content-->
    <div class="row">
        <!-- Sidebar-->
        @await Html.PartialAsync("/Themes/SaljiDalje/Views/Customer/Shared/_CustomerNavigation.cshtml", new CostumerNavigationInfo { CustomerNavigationEnum = CostumerNavigationOptions.PasswordSecurity})
        <!-- Content-->
        <div class="col-lg-8 col-md-7 mb-5">
            <h1 class="h2 text-light">Password &amp; Security</h1>
            <p class="text-light pt-1">Manage your password settings and secure your account.</p>
            <h2 class="h5 text-light">Password</h2>
            <form class="needs-validation pb-4" novalidate>
                <div class="row align-items-end mb-2">
                    <div class="col-sm-6 mb-2">
                        <label class="form-label text-light" for="account-password">Current password</label>
                        <div class="password-toggle">
                            <input class="form-control form-control-light" type="password" id="account-password" required>
                            <label class="password-toggle-btn" aria-label="Show/hide password">
                                <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-2"><a class="d-inline-block text-light mb-2" href="#">Forgot password?</a></div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-6 mb-3">
                        <label class="form-label text-light" for="account-password-new">New password</label>
                        <div class="password-toggle">
                            <input class="form-control form-control-light" type="password" id="account-password-new" required>
                            <label class="password-toggle-btn" aria-label="Show/hide password">
                                <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label class="form-label text-light" for="account-password-confirm">Confirm password</label>
                        <div class="password-toggle">
                            <input class="form-control form-control-light" type="password" id="account-password-confirm" required>
                            <label class="password-toggle-btn" aria-label="Show/hide password">
                                <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-outline-primary" type="submit">Update password</button>
            </form>
            <div class="border-top border-light pt-4 mt-3"></div>
            <h2 class="h5 text-light pt-2 mb-4">Where you're signed in on</h2>
            <div class="d-flex border-bottom border-light pb-3 mb-3"><i class="fi-device-desktop fs-5 text-light me-1"></i>
                <div class="ps-2 text-light">
                    <div class="fw-bold mb-1">Mac – New York, USA</div><span class="d-inline-block fs-sm border-end border-light pe-2 me-2"><span class="opacity-70">Chrome</span></span><span class="fs-sm fw-bold text-success">Active now</span>
                </div>
            </div>
            <div class="d-flex border-bottom border-light pb-3 mb-3"><i class="fi-device-mobile fs-5 text-light me-1"></i>
                <div class="ps-2 text-light">
                    <div class="fw-bold mb-1">iPhone 12 – New York, USA</div><span class="d-inline-block fs-sm border-end border-light pe-2 me-2"><span class="opacity-70">Finder App</span></span><span class="fs-sm opacity-70">20 hours ago</span>
                </div>
                <div class="align-self-center ms-auto">
                    <div class="dropdown">
                        <button class="btn btn-icon btn-translucent-light btn-xs rounded-circle" type="button" id="contextMenu1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fi-dots-vertical"></i></button>
                        <ul class="dropdown-menu dropdown-menu-dark pb-3 my-1" aria-labelledby="contextMenu1">
                            <li><a class="dropdown-item" href="#">Not you?</a></li>
                            <li><a class="d-block px-3" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-flex border-bottom border-light pb-3 mb-3"><i class="fi-device-desktop fs-5 text-light me-1"></i>
                <div class="ps-2 text-light">
                    <div class="fw-bold mb-1">Windows 10.1 – New York, USA</div><span class="d-inline-block fs-sm border-end border-light pe-2 me-2"><span class="opacity-70">Chrome</span></span><span class="fs-sm text-light opacity-70">November 15 at 8:42 AM</span>
                </div>
                <div class="align-self-center ms-auto">
                    <div class="dropdown">
                        <button class="btn btn-icon btn-translucent-light btn-xs rounded-circle" type="button" id="contextMenu2" data-bs-toggle="dropdown" aria-expanded="false"><i class="fi-dots-vertical"></i></button>
                        <ul class="dropdown-menu dropdown-menu-dark pb-3 my-1" aria-labelledby="contextMenu2">
                            <li><a class="dropdown-item" href="#">Not you?</a></li>
                            <li><a class="d-block px-3" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div><a class="nav-link nav-link-light px-0 mt-4" href="#">Sign out of all sessions     </a>
        </div>
    </div>
</div>

