@model LoginModel
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Nop.Core
@{
    Layout = "_Root.Head";
}
@inject IWebHelper webHelper
@{
    var registerUrl = Url.RouteUrl("Register", new { returnUrl = this.Context.Request.Query["returnUrl"] }, webHelper.GetCurrentRequestProtocol());
}
<!-- Page content-->
<div class="container-fluid d-flex h-100 align-items-center justify-content-center py-4 py-sm-5">
    <div class="card card-light card-body" style="max-width: 940px">
        <a class="position-absolute top-0 end-0 nav-link-light fs-sm py-1 px-2 mt-3 me-3" href="#" onclick="window.history.go(-1); return false;"><i class="fi-arrow-long-left fs-base me-2"></i>Go back</a>
        <div class="row mx-0 align-items-center">
            <div class="col-md-6 border-end-md border-light p-2 p-sm-5">
                <h2 class="h3 text-light mb-4 mb-sm-5">Hey there!<br>Welcome back.</h2><img class="d-block mx-auto" src="/Themes/SaljiDalje/Content/img/signin-modal/signin-dark.svg" width="344" alt="Illustartion">
                <div class="text-light mt-4 mt-sm-5">
                    <span class="opacity-60">Don't have an account? </span><a class="text-light" href="#" onclick="location.href='@registerUrl'">Sign up here</a>
                </div>
            </div>
            <div class="col-md-6 px-2 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5">
                <a class="btn btn-outline-info w-100 mb-3"
                   asp-route-returnurl="@Context.Request.Query["ReturnUrl"]"
                   asp-action="Login"
                   asp-controller="GoogleAuthentication">
                    <i class="fi-google fs-lg me-1"></i>Sign in with Google
                </a>
                <a class="btn btn-outline-info w-100 mb-3" 
                   asp-route-returnurl="@Context.Request.Query["ReturnUrl"]"
                   asp-action="Login"
                   asp-controller="FacebookTestAuthentication">
                    <i class="fi-facebook fs-lg me-1">
                    </i>Sign in with Facebook
                </a>
                <div class="d-flex align-items-center py-3 mb-3">
                    <hr class="hr-light w-100">
                    <div class="text-light opacity-70 px-3">Or</div>
                    <hr class="hr-light w-100">
                </div>
                <form class="needs-validation" asp-route="Login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post" novalidate>
                    <div asp-validation-summary="ModelOnly">@T("Account.Login.Unsuccessful")</div>
                    <div class="mb-4">
                        <label asp-for="Username" class="form-label text-light mb-2"></label>
                        <input asp-for="Username" class="form-control form-control-light" placeholder="Enter your username" required autofocus="autofocus"/>
                        @*<label class="form-label text-light mb-2" for="signin-email">Email address</label>
                        <input class="form-control form-control-light" type="email" id="signin-email" placeholder="Enter your email" required>*@
                    </div>
                    <div class="mb-4">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <label asp-for="Password" class="form-label text-light mb-0"></label>
                            <a class="fs-sm text-light" asp-route="PasswordRecovery">Forgot password?</a>
                            @* <label class="form-label text-light mb-0" for="signin-password">Password</label><a class="fs-sm text-light" href="#">Forgot password?</a> *@
                        </div>
                        <div class="password-toggle">
                            <input asp-for="Password" class="form-control form-control-light" type="password" placeholder="Enter password" required/>
                            @* <input class="form-control form-control-light" type="password" id="signin-password" placeholder="Enter password" required> *@
                            <label class="password-toggle-btn" aria-label="Show/hide password">
                                <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                            </label>
                        </div>
                    </div>
                    @if (Model.DisplayCaptcha)
                    {
                        <nop-captcha/>
                    }
                    <button class="btn btn-primary btn-lg w-100" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Back to top button-->
<a class="btn-scroll-top" href="#top" data-scroll>
    <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon fi-chevron-up"> </i>
</a>