<h1>Counter2</h1>

<button class="btn btn-primary" @onclick="IncrementCount">Click</button>

<p>@currentCount</p>

@if (currentCount > 5)
{
    <p>Current Count greater > 5</p>
}
else
{
    <p>Current Count is smaller than 5</p>
}

@code {
    private int currentCount;

    private void IncrementCount()
    {
        currentCount += 20000;
    }

}